@import url(https://fonts.googleapis.com/css?family=Brandon);

html,body {
	background-color:white;
	height: 100%;
	width:100%;
	margin:0;
}

form {
	position: relative;
	background: #FFFFFF;
	max-width: 360px;
	margin: auto;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input {
	font-family: "Brandon", Helvetica, Arial, sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.button {
	font-family: "Brandon", Helvetica, Arial, sans-serif;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
}

.button:hover, .button:active, .button:focus {
	background: #43A047;
}



#poruka
{
	font-family: "Brandon", Helvetica, Arial, sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	height: 120px;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}